[Desktop Entry]
Encoding=UTF-8
Name=surift
Comment=gridding software
Exec="surfit"
Terminal=yes
Icon=gnome-terminal.png
Type=Application
StartupNotify=true
Categories=Science;Geology;Math;Physics
