Source: surfit
Section: math 
Priority: extra
Maintainer: Mikhail Dmitrievsky <mdmitr@gmail.com>
Build-Depends: debhelper (>= 5), zlib1g-dev, netcdfg-dev, tcl8.4-dev, libjpeg-dev, autotools-dev
Standards-Version: 3.7.2

Package: surfit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: opensource gridding and contouring software
 surfit is an open source and free gridding and contouring software. surfit can do interpolation/approximation of points, contours and surfaces, can take fault lines and trend surfaces into account, can use inequalities and other conditions. Supports a lot of data types and formats.

